__pycache__/
*.pyc
/L2J_Mobius_CT_0_Interlude github/.env
/L2J_Mobius_CT_0_Interlude github/.venv
/build/
/L2J_Mobius_CT_0_Interlude github/memory/fpc_memory.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
/L2J_Mobius_CT_0_Interlude github/dist/launcher/.processes.json*

.idea
/out
/L2J_Mobius_CT_0_Interlude github/dist/game/presence.json*
